@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,200;0,400;0,500;0,600;0,700;0,800;1,200;1,400;1,500;1,600;1,700;1,800&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  section {
    @apply lg:py-[75px] py-[35px];
  }
}

@layer components {
  .container {
    @apply w-full max-w-full lg:w-[1440px] px-5 mx-auto;
  }

  .btn {
    @apply bg-primaryColor py-[15px] px-[35px] rounded-[50px] text-white font-[600] mt-[38px];
  }

  .heading {
    @apply text-[26px] leading-[36px] lg:text-[44px] lg:leading-[54px] font-[700] text-headingColor;
  }

  .text__para {
    @apply lg:text-[18px] lg:leading-[30px] font-[400] text-textColor lg:mt-[18px] text-[16px] leading-7 mt-3;
  }

  .header {
    @apply bg-gradient-to-tr from-cyan-200 to-indigo-400 bg-no-repeat bg-center bg-cover h-[100px] leading-[100px];
  }
}

body {
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}